* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    border: 1px solid black;
}

a{
    text-decoration: none;
}

.download-links{
    width: 60%;
    margin: 1em auto 2em auto;
    text-align: center;
}

header{
    background-image: url(./img/jumbo.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 30%;
    color: white;
}

header nav{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
}

header nav ul{
    display: flex;
    gap: 10px;
}

header nav ul li{
    list-style-type: none;
}

.hero{
    background-image: url(./img/jumbo.png);
    color: white;
}

li{
    list-style-type: none;
}

.nav-links ul{
    display: flex;
    gap: 1em;
}

.nav-links ul li{
    list-style-type: none;
    /* padding-inline: 1em; */
}

p{
    line-height: 150%;
    padding-block: 1em;
}
/* qui dovrebbe bastare text align center eliminando quello scritto sopra */
div h2, p {
    text-align: center;
}

.download-links ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.download-links ul li{
    padding-inline: 1em;
}

.download-links ul li a {
    background-color: lightblue;
    border-radius: 35%;
    padding: 10px;
}

.section{
    display: flex;
    justify-content: space-between;
}

.text, figure{
    flex-basis: 40%;
    padding-inline: 5em;
}

.text{
    text-align: center;
    background-color: lightpink;
}

.download-links a{
    text-decoration: none;
    background-color: lightblue;
    border-radius: 35%;
    padding: 10px;
}

.ending-section{
    text-align: center;
}

.footer-nav{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.menu-title{
    color: #817CE2;
}

.register{
    display: flex;
    justify-content: space-between;
    padding: 5%;
}