* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    /* border: 1px solid black; */
}
body{
    font-size: 180%;
}

a, li{
    text-decoration: none;
    list-style-type: none;
}

header{
    background-image: url(./img/jumbo.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-align: center;
}

header nav{
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: 0 auto;
    text-transform: capitalize;
}

header nav ul{
    display: flex;
    gap: 3em;
}

header nav a{
    background-color: white;
    padding: 10px;
    border-radius: 30px;
}

p{
    line-height: 150%;
    padding-block: 1em;
}

.download-links{
    width: 60%;
    margin: 1em auto 2em auto;
    text-align: center;
}

.download-links button{
    padding: 2%;
    border-radius: 30px;
}

#second-button{
    background-color: #24272a;
    color: white;
}

.hero{
    color: white;
    padding-top: 10%;
    padding-bottom: 5%;
}

/*  image + text section */

section{
    padding-block: 20px;
}

section .img-text{
    display: flex;
}

.discord-services{
    padding-inline: 1em;
}
section .img-text figure{
    flex-basis: 70%;
}

section .img-text .section-text{
    flex-basis: 30%;
}
/* create wave */
section.discord-services:nth-child(even){
    background-color: rgba(212, 212, 212, 0.5);
}

section.discord-services:nth-child(even) .img-text figure{
    order: 1;
}

section.discord-services:last-child{
    text-align: center;
}

/* footer */
.footer-nav{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.menu-title{
    color: #817CE2;
}

.register{
    display: flex;
    justify-content: space-between;
    padding: 5%;
}